<ion-content padding>
  <form [formGroup]="subForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Adresse mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full (click)="onSubmitForm()">Soumettre</button>
  </form>
</ion-content>