<ion-content>
  <h4 class="back-btn" (click)="goBack()">< Retour</h4>
  <div class="register-ctn">
  <h2>Bienvenue sur MLS !<br>Inscrivez-vous pour démarrer <span class="underlined">l'aventure</span>.</h2>
  <form [formGroup]="subForm">
    <ion-list>
      <ion-item>
        <ion-label floating>first Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>date of birth</ion-label>
        <ion-input type="date" formControlName="dateOfBirth"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Adresse mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Code d'invitation</ion-label>
        <ion-input type="text" formControlName="inviteCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="btn-wrapper">
      <button (click)="onSubmitForm()">S'inscrire</button>
    </div>
  </form>
  </div>
</ion-content>




  
