<ion-content padding>
  <form [formGroup]="subForm">
    <ion-list>
      <ion-item>
        <ion-label floating>first Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>date of birth</ion-label>
        <ion-input type="date" formControlName="dateOfBirth"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Adresse mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full (click)="onSubmitForm()">Soumettre</button>
  </form>
</ion-content>




  
