<ion-content>
  <div style="width: 100%; height: calc(100vh); z-index=1">
    <div class="ctn-img">
      <img src="../../assets/robin.jpg" alt="profile">
    </div>
    <div class="infos-ctn">
      <div class="name-ctn">
        <h2>LAFAILLE Yann</h2>
      </div>
      <p>LAFAILLE</p>
      <p>Yann</p>
      <p>13/13/1969</p>
      <p>Villeurbanne</p>
      <div class="buttons-ctn">
        <button>Modifier</button>
        <button>Se déconnecter</button>
      </div>
    </div>
  </div>
  <app-navbar style="position:fixed;bottom:0;left:0;z-index:2000;"></app-navbar>
</ion-content>
