<ion-content>
  <div style="width: 100%; height: calc(100vh); z-index=1">
    <div class="ctn-img">
      <img src="../../assets/robin.jpg" alt="profile">
    </div>
    <div class="infos-ctn">
      <div class="name-ctn">
        <h2>LAFAILLE Yann</h2>
      </div>
      <p>{{ lastName }}</p>
      <p>{{ firstName }}</p>
      <p>{{ dateBirth }}</p>
      <p>{{ nbInvit }}</p>
      <div class="buttons-ctn">
        <button (click)="inviteFriend()">Inviter un ami</button>
        <button (click)="onDisconnect()">Se déconnecter</button>
      </div>
    </div>
  </div>
  <app-navbar style="position:fixed;bottom:0;left:0;z-index:2000;"></app-navbar>
</ion-content>
