<ion-content [fullscreen]="true">

 <h1>Mettre la Map ici</h1>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="left">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>left</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="center">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label>center</ion-label>
      </ion-tab-button>
    

      <ion-tab-button tab="right">
        <ion-icon name="hand-left-outline"></ion-icon>
        <ion-label>right</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

