<div [ngClass]="popSignal.displayPop ? '' : 'hidden'" class="wrapper-popUp"> <!--[ngClass]="displayPop ? '' : 'hidden'"-->
  <div class="popUp-back">
    <div class="popUp-ctn">
      <h1 (click)="closePopUpSignal()">X</h1>
      <h3>Précisez votre signalement</h3>
      <form>
        <select>
          <option value="">Vol</option>
          <option value="">Agression</option>
          <option value="">Harcèlement</option>
        </select>
        <input type="text" maxlength="100">
        <button>OK</button>
      </form>
    </div>
  </div>
</div>